/* General */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(24, 174, 34);
}