/* General */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Press Start 2P', sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-image: url(../images/start-page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 20%;
}

/* Text-Elements */

div {
    text-align: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

p{
    padding-top: 10px;
    color: #ffffff;
    font-size: 80px;
    text-shadow: 2px 3px 1px #000000;
}

/* Button */

input {
    margin-top: 50px;
    width: 30%;
    max-width: 150px;
    height: 35px;
    text-align: center;
    background-color: gold;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

input#back-to-main {
    top: 68%;
}

input:hover{
    transform: scale(1.05);
}

input:active{
    transform: scale(0.9);
    border: none;
}