* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.witch {
    display: none;
    height: 179px;
    width: 179px;
    position: absolute;
    bottom:0;
    margin-bottom: 70px;
    margin-left: 150px; 
}

.pumpkin {
    display: none;
    width: 350px;
    position: absolute;
    bottom:0;
    margin-bottom: 70px;
    transform: scaleX(-1);
    animation: enemie-pumpkin 3s infinite linear;
}

@keyframes enemie-pumpkin {
    from {
        right: -350px;
    }
    to {
        right: 100%;
    }
}

.thorn {
    display: none;
    width: 200px;
    position: absolute;
    bottom:0;
    margin-bottom: 60px;
    right: -350px;
    animation: enemie-thorn 4s infinite linear;
}

@keyframes enemie-thorn {
    from {
        right: -200px;
    }
    to {
        right: 100%;
    }
}

.pulo {
    animation: pulo-animacao 700ms ease-out; 
 }

#layer0 {
    background: url('../assets/img/BackgroundLayers/Layer_0.png');
    background-repeat: repeat-x;
    background-size:contain;    
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;  
    animation: none;
    overflow: hidden;    
}

@keyframes layer0 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer1 {
    background: url('../assets/img/BackgroundLayers/Layer_1.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;
    
}

@keyframes layer1 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer2 {
    background: url('../assets/img/BackgroundLayers/Layer_2.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;    
}

@keyframes layer2 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer3 {
    background: url('../assets/img/BackgroundLayers/Layer_3.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;
}

#layer3-luz{
    position: absolute;
    bottom:0;
    margin-bottom: 150px;
}

#layer5-luz{
    position: absolute;
    bottom:0;
    margin-bottom: 150px;
}

@keyframes layer3{
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer4 {
    background: url('../assets/img/BackgroundLayers/Layer_4.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;
}

@keyframes layer4 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer5 {
    background: url('../assets/img/BackgroundLayers/Layer_5.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;
}

@keyframes layer5 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer6 {
    background: url('../assets/img/BackgroundLayers/Layer_6.png');
    background-repeat: repeat-x;
    background-size: contain;
    height: 150vh;
    width: 1920px;
    position: absolute;
    bottom: 0;  
    animation: none;
    overflow: hidden;
    opacity: 50%;
}

@keyframes layer6 {
    from {
        background-position: 2000px;
    }
    to {
        background-position: 0%;
    }
}

#layer-gradiente {
    height: 700px;
    width: 1920px;
    position: absolute;
    bottom: 0%;
}

@keyframes pulo-animacao {
    0% {bottom:0}
    40% {bottom: 350px;}
    50% {bottom: 350px;}
    60% {bottom: 380px;}
    70% {bottom: 380px;}
    80% {bottom: 350px;}
    90% {bottom: 250px;}
    100% {bottom: 0}
}

audio {
    margin: 30px;
    color: darkslategray;
}

.game-over {
    display: none;
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
    position: relative;
}

.texto {
    height: 100px;
    position: relative;
    top:0;
}

.titulo-game-over {
    font-size: 100px;
    color: rgb(209, 65, 99);
    animation: texto 3s infinite linear;
    position: relative;
}

.titulo {
    font-size: 60px;
    color: rgb(209, 65, 99);
    animation: texto 3s infinite linear;
    position: relative;
}

@keyframes texto {
    0% {top:30px}
    50% {top: 0}
    100% {top: 30px}
}

button {
    background-color: rgb(105, 129, 100);
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    color: rgb(219, 237, 219);
    cursor: pointer;
    margin-top: 80px;
}

#score {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position:relative;
    
    color:rgb(219, 237, 219);
    font-size: 20px;
    background-color: rgb(105, 129, 100);
    height: 30px;
    width: 150px;
    border-radius: 20px;

    display: none;
}

.menu-start {
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    position: relative;
    display: block;
}

#bunny {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bunny {
    position: absolute;
    bottom: 0;
    margin-bottom: 345px;
    width: 150px;
    animation: bunny 12s infinite linear;
}

@keyframes bunny {
    from {
        right: -100px;
    }
    to {
        right: 100%;
    }
}