@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300;1,400;1,700&family=VT323&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24,174,24);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe-game {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.super-mario{
    width:150px;
    position: absolute;
    bottom: 0;
}

.jump-mario {
    animation: mario-animation 500ms ease-out;
}

.cloud-game{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right:  100%;
    }
}

@keyframes mario-animation{
    0% {
        bottom:0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    70%{
        bottom: 180px;
    }
    100%{
        bottom: 0%
    }

}

.game-over{
    font-family: VT323, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 80px;
    position: absolute;
    width: 30%;
    top: 35%;
    left: 35%;
    display: block;    
    color: rgb(99, 28, 28);
}

.game-over h1{
    margin: auto;
    width: min-content;    
}

.score{
    width: 170px;
    height: 130px;
    position: absolute;
    top: 2%;
    right: 2%;
    border: 5px solid rgb(236, 236, 206);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-family: VT323, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: block;   
    
}

.score h3, .score h4{
    font-size: 60px;            
}

