.button {
  font-size: 1rem;
  font-weight: 500;

  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid var(--color-btn);
  border-radius: 20px;
  color: var(--color-btn);
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-secundary);
}

.button--small {
  font-size: 0.7rem;
  padding: 7.5px 13.5px;
  border-radius: 15px;
  z-index: 100;
}

.select-person__back-menu--locked {
  cursor: default;
  z-index: 150;
  font-weight: 700;
}

.button--menu,
.game-over__btn {
  font-family: var(--font-ui);
  color: var(--color-btn);
  background: linear-gradient(90deg, #072b0e 0%, #287a36 90%);
  font-size: 1.25rem;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.49);
  transition: all 0.2s ease;
}

.button--menu:hover,
.game-over__btn:hover {
  background: linear-gradient(90deg, #051f0a 0%, #113617 90%);
}

.button--ui {
  font-family: var(--font-ui);
}
