.button {
  font-size: 1rem;
  font-weight: 500;

  padding: 10px 18px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
}

.button--small {
  font-size: 0.7rem;
  padding: 7.5px 13.5px;
  border-radius: 15px;
  z-index: 100;
}

.select-person__back-menu--locked {
  cursor: default;
  z-index: 150;
  font-weight: 700;
}
