.button {
  font-size: 1rem;
  font-weight: 500;

  padding: 10px 18px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
}

.button--small {
  font-size: 0.7rem;
  padding: 7.5px 13.5px;
  border-radius: 15px;
  z-index: 100;
}

.select-person__back-menu--locked {
  cursor: default;
  z-index: 150;
  font-weight: 700;
}

.button--menu {
  font-family: var(--font-secundary);
  color: var(--color-text-button);
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.button--menu:hover {
  color: var(--color-text-button-hover);
  font-size: 1.27rem;
  transform: translate(1px, -1px);
}
