.select-person__person {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: var(--font-ui);
  color: var(--color-btn);

  margin: 0 auto;
  padding: 0;
  background-color: var(--color-game-title);

  background: var(--linear-btn);
  border: 1px solid black;
  border-radius: 30px;
  position: relative;
}

.select-person__person--locked::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  border-radius: 30px;
}
.select-person__person-box {
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(178px, 4fr));
  gap: 1rem;
}

.person__img {
  width: 50%;
  margin-bottom: 5px;
}
