.credits {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1166.66px;
  height: 600px;
  border: 3px solid black;
  margin: 0 auto;
  position: relative;
  font-family: var(--font-ui);
  color: var(--color-credits);
}

.credits__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/Images/background/bg_florest.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.credits__background::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.credits__back-menu {
  position: absolute;
  top: 50px;
  right: 40px;
  color: var(--color-credits);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.credits__back-menu:hover {
  color: var(--color-credits-hover);
}

.credits__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--font-primary);
}
