.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 60px 0;
  gap: 80px;
  width: 1166.66px;
  height: 600px;
  border: 3px solid black;
  margin: 0 auto;

  background-image: url('../../Images/background/bg_florest.png');
  background-repeat: no-repeat;
  background-position: -235px center;

  overflow: hidden;
}

.main-menu__person {
  position: absolute;
  bottom: 58px;
  left: 0;
  width: 70px;
}
.main-menu__buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-menu__title {
  color: var(--color-game-title);
  font-family: var(--font-primary);
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
}

.main-menu__start {
  top: 185px;
  right: -45px;
}

.main-menu__select-person {
  top: 155px;
  right: -295px;
}

.main-menu__select-scene {
  top: 155px;
  right: 125px;
}
