.pause {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 150;

  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.game-over__title {
  color: var(--color-btn);
  font-size: 3rem;
  font-family: var(--font-ui);
  margin-bottom: 2rem;
}

.pause::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  animation: gameOverOpacity 0.08s linear forwards;
}

@keyframes gameOverOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
